

<h3>Selector de colores</h3>

<button (click)="logColorSeleccionado()">Sacar logs</button>

<input type="text" [(ngModel)]="color_seleccionado">

<pre 
  [style.border]="color_seleccionado=='red'? '5px solid black' : '1px solid green'"
  [ngClass]="{
    fondoAzul:color_seleccionado== 'blue',
    fondoRosa:color_seleccionado== 'pink',
    fondoVerde:color_seleccionado== 'green'
    
  }"
> 
  <strong>Color elegido:</strong>
  {{color_seleccionado}}
</pre>
<br>
<div [ngStyle]= "{'background':color_seleccionado,'width':'200px', 'height':'200px'}">

</div>

<hr/>
<h3>Colores switch</h3>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]= "{'background':color,'color':'white', 'padding':'20px'}">Es de color rojo</li>
    <li *ngSwitchCase="'green'" [ngStyle]= "{'background':color,'color':'white', 'padding':'20px'}">Es de color Verde</li>
    <li *ngSwitchCase="'blue'" [ngStyle]= "{'background':color,'color':'white', 'padding':'20px'}">Es de color Azul</li>
</ul>

<hr/>
<strong>Empelado estrella</strong>
<br>
<br>
<button (click)= "cambiarExterno()">Cambiar</button>
<br>
<br>
<div *ngIf="trabajador_externo">
    <button (click)= "cambiarExterno(false)">Mostrar empleado</button>
    <ul >
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <li>{{trabajadores[0].contratado}}</li>
    </ul>
</div>

<div *ngIf="!trabajador_externo">
    <button (click)= "cambiarExterno(true)">Mostrar trabajador</button>
    <ul >
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contratado}}</li>
    </ul>
</div>
<hr/>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        Empleado {{i+1}}
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li>{{empleado.contratado}}</li>
        </ul>
    </li>
</ul>

